# .NET
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.cache

# Dependencias
node_modules/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.idea/
*.swp
*.swo

# Temp
tmp/
temp/
